<div class="accordion" id="accordionExample">
  {% for p in results %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{p.nombre}}" aria-expanded="true" aria-controls="collapseOne" >
          {{p.nombre}}
        </button>
      </h5>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acerca del pais
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <div class="card text-white bg-secondary">
            <div class="card-header">
              <h5 class="card-title">{{p.nombre}}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">{{p.resena}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="{{p.nombre}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div id="{{p.nombre}}op">
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript">
 traer = function (valor) {
  console.log("vamos");
  console.log(valor);
}


jQuery(document).ready(function($) {
  $(".btn-link").on('click', function() {
    var option = $(this).attr('data-target');
    $.get('{% url "pais" %}', {
      pais_id: option
    }).done(function(data) {
      informacion = data.data
      $.each(informacion, function(index, val) {
        var titulo = val["nombre"]
        var des = val["des"]
        var editor = val["editor"]
        var emb = val["emb"]
        var hm = val["hm"]
        var doi = val["doi"]
        $('<div class="card"><div class="card-body"><h5 class="card-title">'+titulo+'</h5> <p class="card-text">'+des+'</p></div></div> </div></div>').appendTo( option+"op")
        $('<div class="btn-group"><button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Página web </button><div class="dropdown-menu"><p class="dropdown-item">'+hm+'</p></div></div>').appendTo( option+"op")
          $('<div class="btn-group"><button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">D O I</button><div class="dropdown-menu"><p class="dropdown-item">'+doi+'</p></div></div>').appendTo( option+"op")
        $('<div class="btn-group"><button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editor</button><div class="dropdown-menu"><p class="dropdown-item">'+editor+'</p><p class="dropdown-item">Email: '+emb+'</p></div></div>').appendTo( option+"op")
        $('<button id="'+titulo+'" type="button" class="btn btn-primary" >Launch demo modal</button>').appendTo( option+"op")
      });
      $(".btn-primary").on('click', function() {
        console.log("vamos");
        var option = $(this).attr('id');
        console.log(option);
        $.get('{% url "temas" %}', {
          tituo_n: option
          }).done(function(data) {
            informacion = data.data
            console.log(informacion);
          })
      })
    })
  })

});
</script>
