<table id="example" class="table table-striped table-bordered display" cellspacing="0" width="100%">
  <thead>
      <tr>
          <th>Revista</th>
          <th>Pais</th>
      </tr>
  </thead>
  <tfoot>
      <tr>
          <th>Revista</th>
          <th>Pais</th>
      </tr>
  </tfoot>

  <tbody class="searchable">
          {% for revista in results%}
              <tr>
                  <td>
                    <a href="{% url 'drink' revista.recurso%}">
                    {{revista.nombre}}
                  </a></td>
                  <td>{{revista.pais}}</td>
              </tr>
          {% endfor %}

  </tbody>
</table>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#example tfoot th').each( function () {
                var title = $('#example thead th').eq( $(this).index() ).text();
                $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );
            } );
            var table = $('#example').DataTable();

            // Apply the search
            table.columns().eq( 0 ).each( function ( colIdx ) {
                $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
                    table
                        .column( colIdx )
                        .search( this.value )
                        .draw();
                } );
            } );
    });
</script>
