{% extends "base.html" %}

{% block body %}

<div class="brand">Fuentes</div>
<div class="row">
  <div class="col-sm">
    <div class="address-bar">REDIB (Red Iberoamericana de Innovación y Conocimiento Científico)</div>
    
      <p class="text-justify">
      REDIB es una plataforma de agregación de contenidos científicos y académicos en formato electrónico producidos en el ámbito iberoamericano, relacionados con él en un sentido cultural y social más amplio y geográficamente no restrictivo. REDIB cuenta con una clara vocación de promoción de la innovación tecnológica de las herramientas de producción editorial. Estas facilitan el acceso, la difusión y la puesta en valor de la producción científica generada en los países de su ámbito de actuación, especialmente en los diversos idiomas que les son propios. Los destinatarios de esta información son tanto la comunidad académica como la sociedad en general, así como los responsables, gestores y analistas de políticas científicas. Internet asegura el alcance global de esta información.
    </p>
</div>
<div class="col-sm">
  <div class="address-bar">Latindex</div>
    <p class="text-justify">
    Latindex es un sistema de Información sobre las revistas de investigación científica, técnico-profesionales y de divulgación científica y cultural que se editan en los países de América Latina, el Caribe, España y Portugal. La idea de creación de Latindex surgió en 1995 en la Universidad Nacional Autónoma de México (UNAM) y se convirtió en una red de cooperación regional a partir de 1997.
  </p>
  <p>
    Actualmente Latindex ofrece cuatro bases de datos: 1) Directorio  con datos bibliográficos y de contacto de todas las revistas registradas, ya sea que se publiquen en soporte impreso o electrónico; 2) Catálogo  que incluye únicamente las revistas –impresas o electrónicas- que cumplen los criterios de calidad editorial diseñados por Latindex; 3) Revistas en línea  que permite el acceso a los textos completos en los sitios en que se encuentran disponibles. En la sección "Productos"  se hace una mayor descripción de estos recursos y la forma de consultarlos. 4) Portal de Portales  Permite el acceso al texto completo de una selección de revistas iberoamericanas disponibles en los portales más importantes de la región.
  </p>
</div>
</div>

{% endblock body %}
