{% extends "base.html" %}


{% block body %}

  <div class="brand">Directorio Digital de Revistas Cientificas</div>
  <div class="address-bar">Proyecto de Sistemas Basados en el Conocimiento | UTPL 2018</div>

  <div class="row">
    <div class="col-md-12  text-center">
      <div class="card-header">
        <h2 class="display-4"><strong>
          <small class="text-muted">Realizado por: </small>
          Jorge Martínez
        </strong>
        </h2>
      </div>
    </div>
  </div>
{% endblock body %}
